.createTripContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: var(--beige);
    top: 0% !important;
    border: none !important;
}

.create-trip-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.create-trip-item {
    margin-bottom: auto;
}

.create-cancel-button {
    margin-bottom: 10%;
}