.createTripContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgb(222, 222, 222);
    top: 0%;

}

.create-trip-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

