.view-trips-div{

    top: 110px;
    left: 0%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view-trip-form-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-bottom: 20%;
}
.trip-card {
    background: var(--red-brown);
    color: var(--beige);
    border: 3px solid var(--red-brown);
}

.trip-card:hover{
        background-color: var(--green);
        color: var(--beige);
        border: 3px solid var(--green);
        cursor: pointer;
        background-image: none;
}