.trip-details-page {
    top:110px;
    left: 0%;
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--beige);
    display: flex;
    justify-content: flex-start;
    padding: 0 2%;
    align-items: center;
    flex-direction: column;
     background-image: url(../../images/travel-bg.png);
  background-size: cover;
}

.trip-details-container{
    background-color: #f9f7dc;
  position: relative;
 padding:0 10%;
  display: flex;
  height: 75%;
  flex-direction: column;
  margin-top: 2%;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding-bottom: 0.2cm;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: var(--border-radius);
  text-align: left;
  width: 60%;
}

.votingDropdown div {
    margin-bottom:3rem;
    display: flex;
    justify-content: space-between;

} 

.votingDropdown {
    width:100%;
}

.vote-button{
    background-color: var(--light-orange);
    border-style: none;
    border-radius: var(--border-radius);
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    font: var(--font);
    
}

.dropdowns{
    border-radius: var(--border-radius);
    padding: 0.7rem;
    font-size: 1.2rem;
    
}

#vote-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    top: 15%;
    left: 30%;
    position: fixed;
    width: 40%;
    height: 60%;
    margin: auto;
    background: var(--beige);
    padding: 20px;
    border: 3px solid black;
    border-radius: 1rem;
}

.details-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--beige);
    height: 70%;
    width: 70%
}

.vote-form-button {
    margin-top: auto;
}

#h2-vote-form {
    color:green;
    text-decoration: underline;
}

label {
    display: block;
    /* background: lightgrey;
    width: 100px;
    height: 100px; */
}

#highlighted:checked + label {
    background: blue;
    color: white;
}

#trip_name {
    margin: 0;
}

h3 {
    margin-bottom: 3rem;
}



@media only screen and (max-width: 600px) {
  .dropdowns{
    border-radius: var(--border-radius);
    padding: 0.6rem;
    font-size: 0.8rem;
    
}

.vote-button{
    background-color: var(--light-orange);
    border-style: none;
    border-radius: var(--border-radius);
    padding: 0.7rem 0.6rem;
    font-size: 0.8rem;
   
    
}

.votingDropdown div {
    margin-bottom:0.5rem;
    display: flex;
    justify-content: space-between;

} 
.trip-details-container{
    width: 80%;
    height: 70%;
    margin-top: 10%;
}

.trip-details-container h3{
    margin: 8%;
    font-size:1rem ;
}

#trip_name {
   font-size:2rem ;
}
}