.trip-details-page {
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vote-container {
    position: fixed;
    top: 40%;
    left: 40%;
    width: 50%;
    height: 50%;
    background: white;
    border: 1px solid black;
}

