nav {
    width: 100vw;
    height: 110px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: space-evenly;
    position: relative;
    /* margin: auto; */
    padding: 5px;
    flex-wrap: wrap;
    background-color: var(--green);
    /* overflow: hidden; */
    
}
h2 {
    font-size: 1em;
    color: var(--beige);

}

.button-24 {
    margin: 13% 40px 0px 0px;
    width: 100px;
    background: var(--beige);
    border: 1px solid var(--light-orange);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    transform: scale(0.8);
    color: var(--green);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    height: 70px;
    min-height: 20px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: var(--green);
    background-position: 0 0;
    color: var(--beige);
  }
  
  .button-24:active {
    opacity: .5;
  }






  nav .menu-item {
    color: var(--beige);
    font-weight: 600;
    transform-style: preserve-3d;
    flex-grow: 1;
    display: flex;
    flex-basis: var(--item-width);
    box-sizing: border-box;
    padding: 1em 1.5em;
    justify-content: center;
    perspective: 200px;
    letter-spacing: 0.5px;
    min-height: 7.5em;
}

nav .menu-text, nav .menu-text a {
    font-size: 1em;
    color: var(--beige);
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0,0,0,0.1);
    transition: color 0.1s ease-out;
    text-align: center;
}

nav .menu-text a:hover {
    color: rgba(255,255,255,0.5);
}
  
.logo{
  display: fixed;
  margin-left: 9px;
  margin-right: auto;
  width: 9%;
}

text{
  font-family: 'Tenor Sans', sans-serif;
  color: var(--beige);
  font-size: 2em;
  margin-top: 70px;
  margin-left: 20px;
  
}

