#dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    
}

#dashboard-container{
    width:100%;
}

#dashboard-btn-container{
    /* use below for separating out containers on screen */
    border:0px solid black;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:35%;
    gap:5%;
    align-self: center;
    margin-bottom: auto;
    
    margin-top: auto;
}


#dashboard-btn-container div {

    height:100%;
    flex-basis:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    text-align: center;
    border: 3px solid var(--dark-orange);
    cursor: pointer
}

#dashboard-btn-container div:hover{
    background-color: var(--green);
    color: var(--beige);
    border: 3px solid var(--green);
}

h1 {
    font-size: 400%;
    font-weight: 600;
    /* margin-bottom: 10%; */
    margin-bottom: 5%;
}

#dashboard-btn-container p {
    font-size: 200%;
    margin: 0
}

.icon {
    font-size: 300%;
}



.navbar-dashboard {
    margin-bottom: auto;
    width: 100%;
}

.open {
    visibility: visible
}

.closed {
    visibility: hidden;
}