#dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:100vh;
    background-image: url(../../images/travel-bg.png);
  background-size: cover;
}



#dashboard-btn-container{
    /* use below for separating out containers on screen */
    border:0px solid black;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:35%;
    gap:5%;
    align-self: center;
   
}


#dashboard-btn-container div {

    height: 300px;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: var(--beige);
    border-radius: var(--border-radius);
    text-align: center;
    border: 3px solid var(--dark-orange);
    cursor: pointer
}

#dashboard-btn-container div:hover{
    background-color: var(--green);
    color: var(--beige);
    border: 3px solid var(--green);
}

h1 {
    font-size: 400%;
    font-weight: 600;
    margin:5%;
   
}

#dashboard-btn-container p {
    font-size: 200%;
    margin: 0
}

.icon {
    font-size: 300%;
}



.navbar-dashboard {
    margin-bottom: auto;
    width: 100%;
}

.open {
    visibility: visible
}

.closed {
    visibility: hidden;
}

  @media only screen and (max-width: 740px) {
 #dashboard-btn-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
 }

 #dashboard-btn-container div {
    flex-direction: row;
    gap:5%;
    height: 110px;
    width: 100%;
    padding: 5%;
   
}
h1{
    text-align: center;
    font-size: 2.5rem;
    flex-basis: 10%;
}
  }