.login-page {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: var(--beige);
    justify-content:space-between;
    align-items:center;
    display: flex;
    flex-direction: column;
}

.flex-item {
    align-self: flex-end;
    margin: 25px;
}

.getStarted {
    width: 10%;
    height: 10%;
    background-color: var(--green);
    border-radius: var(--border-radius);
    color: var(--beige);
    font-family: var(--font);
    margin: auto;
    border: 1px solid var(--light-orange);
    font-size: 1.25rem;
    
}

.getStarted:hover,
.getStarted:active {
    border: 3px solid var(--dark-orange);
    font-size: 1.25rem;
    cursor: pointer;
    }

/* .flex-item > button {
    width: 100px;
    height: 40px;
    background-color: var(--green);
    border-radius: var(--border-radius);
} */
