.login-page {
  position: fixed;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: var(--beige);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/travel-bg.png);
  background-size: cover;
  gap:5%;
}

.sloganBox {
  background-color: #f9f7dc;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding-bottom: 0.2cm;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.slogan:nth-child(2){
 margin-top: 0;
}

.flex-item {
  align-self: flex-end;
  margin: 25px;
}

.getStarted {

 
  background-color: var(--light-orange);
  border-radius: var(--border-radius);
  border-style: none;
  color: var(--black);
  font-family: var(--font);
  font-size: 150%;
  border: 3px solid var(--light-orange);
  padding:1% 2% 1% 2%;
  
}

.getStarted:hover,
.getStarted:active {
  border: 3px solid var(--dark-orange);
  cursor: pointer;

}

.slogan {
  color: #511011;
  font-size: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 0.8cm;
}

/* .flex-item > button {
    width: 100px;
    height: 40px;
    background-color: var(--green);
    border-radius: var(--border-radius);
} */
