:root{
  --green: #084d46;
  --dark-orange: #df6332;
  --light-orange: #f3792b;
  --beige: #f9f7dc;
  --yellow: #febd11;
  --black: #000000;
  --red-brown: #511011;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --border-radius: 15px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--beige);
  color: var(--green);
  font-family: var(--font);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cancel-button {
  width: 10vw;
  background: var(--green);
  border: 2px solid var(--beige);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  transform: scale(0.8);
  color: var(--beige);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  height: 6vh;
  min-height: 10px;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  font-family: var(--font);
  
}

.cancel-button:hover,
.cancel-button:active {
    border: 2px solid var(--dark-orange);
}

.submit-button{
  margin: 13% 40px 0px 0px;
  width: 100px;
  background: var(--green);
  border: 2px solid var(--beige);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  transform: scale(0.8);
  color: var(--beige);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  min-height: 20px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: var(--font);
}

.submit-button:hover,
.submit-button:active {
    border: 2px solid var(--dark-orange);
}

.input-field {
  border-color: 2px solid var(--dark-orange);
}

.button {
    width: 8vw;
    height: 5vh;
    border-radius: var(--border-radius);
    background: var(--green);
    border: 2px solid var(--beige);
    color: var(--beige);
    font-family: var(--font);
    font-weight: bold;
}

.button:hover,
.button:active {
    border: 2px solid var(--dark-orange);
    color: var(--beige);
}
