.join-form {
    top: 110px;
    left: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--beige);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   background-image: url(../../images/travel-bg.png);
  background-size: cover;
 
}

.join-h2 {
   color: var(--green);
   margin: 5% 0;

}

.join-form h1{
    flex-basis:10%;
   
}

.input-field{
    border-radius: var(--border-radius);
}
.form-page-input-field{
    border-radius: var;
}

.join-form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10%;
}

.submit-button {
    margin-top: 8%;

}

.join-cancel-button {
    margin-top: 2%;
}

.join-nav {
    top: 0px;
}

.join-container{
      /* color: var(--green);
     background-color: #f9f7dc;
  
 height: 40%;
 
 
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding: 5%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width:60%; */
    background: var(--beige);
  border: 3px solid var(--light-orange);
  border-radius: 0.5rem;
  font-family: var(--font);
  width: 60%;
  height: 400px;
  color: var(--green);
  padding: 5%;
}