.join-form {
    width: 30%;
    height: 20%;
    top: 10%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(246, 246, 246);
    border: 3px solid blue;
    border-radius: 15px;
}