.join-form {
    top: 110px;
    left: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--beige);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   background-image: url(../../images/travel-bg.png);
  background-size: cover;
 
}

.join-h2 {
    color: var(--green);
     background-color: #f9f7dc;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width:70%;

}

.join-form h1{
    flex-basis:10%;
   
}

.join-form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10%;
}

.join-cancel-button {
    margin-bottom: 10%;
}

.join-nav {
    top: 0px;
}
