.join-form {
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.join-form-item {
    margin-bottom: auto;
}

.join-cancel-button {
    margin-bottom: 10%;
}

.join-nav {
    top: 0px;
}